* {
  padding: 0;
  margin: 0;
  text-align: center;
}

canvas {
  background: #d1cece;
  display: block;
  margin: 0 auto;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/978332866/vector/football-ground-field-vector-illustration.jpg?s=612x612&w=0&k=20&c=U6e7eYcVTz9Q-lFpGyRYJQhkjcB4lND-5mACQyT6QcU=");
  background-size: cover; /* stretch to fill the canvas */
  background-repeat: no-repeat; /* don’t tile */
  background-position: center; /* center the image */
}
