* {
  padding: 0;
  margin: 0;
  text-align: center;
}

canvas {
  background: #d1cece;
  display: block;
  margin: 0 auto;
}

#myCanvas {
  background-image: url("https://apis.mail.yahoo.com/ws/v3/mailboxes/@.id==VjN-gcTUe3qs0em9fbocqb99VP8I6LBbYELO3bb8C8SHyTZ9rxBxh5TDRUJ7Sh0sdkto_tmbZU_QP6bd5QzJLzvu9w/messages/@.id==AAB9AhRJ8787cdbwdu6Rsm4UITa/content/parts/@.id==2/thumbnail?appid=YMailNovationLaunch");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
